.p-text {
    color:azure;
    border-radius: 5px;
    font-family: 'Black And White Picture', sans-serif;
    font-size: 1.5em;
    text-shadow: 0em 0.1em 0.1em rgba(7, 7, 0);
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.about-h4 {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    text-shadow: 0em 0.1em 0.1em rgba(0,0,0,0.4);
}

.about-link {
    text-decoration: none;
}

.about-btn {
    color: gold;
    border: 3px solid rgb(6, 194, 182);
    display: flex;
    margin: auto;
    font-family: 'Finger Paint', cursive;
}

.header-color {
    text-align: center;
    text-shadow: 0 0 5px #0d0a0a, 0 0 10px #014f22, 0 0 15px #014f22, 0 0 20px #014f22, 0 0 25px #014f22, 0 0 30px #014f22, 0 0 35px #014f22;
    color:  rgb(6, 194, 182);
    font-family: 'Frijole', cursive;
}

.carousel {
    width: 100% !important;
    height: 50vh;
}

@media (max-width: 100%) {
    .carousel {
      width:auto;
      height:auto;
    }
}

.genRiddle, .histRiddle {
    color: azure;
    text-shadow: 0 0 5px #0d0808, 0 0 10px #100a0a;
    font-family: 'Finger Paint', cursive;
}