* {
 box-sizing: border-box;
}

.nav-logo {
  color: rgb(1, 51, 1);
  font-size: x-large;
  -webkit-text-stroke: .25px gold;
}

.page-bg {
  margin: 0;
  background-image: url(../src/images/green-riddle.jpg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  transform-origin: 50%;
  overflow-x: hidden;
}

.riddle-card {
  background-color: rgba(2, 66, 44, 0.9);
}
/* .App {
  text-align: center;
} */

.text-color {
  color: azure;
}

.riddle-header {
  text-align: center;
  text-shadow: 0 0 5px #0d0a0a, 0 0 10px #014f22, 0 0 15px #014f22, 0 0 20px #014f22, 0 0 25px #014f22, 0 0 30px #014f22, 0 0 35px #014f22;
  color:  rgb(6, 194, 182);
  font-family: 'Frijole', cursive;
}

.review-header {
  text-align: center;
  text-shadow: 0 0 5px #0d0a0a, 0 0 10px #014f22, 0 0 15px #014f22, 0 0 20px #014f22, 0 0 25px #014f22, 0 0 30px #014f22, 0 0 35px #014f22;
  color:  rgb(6, 194, 182);
  font-family: 'Frijole', cursive;
}

.bg-review {
  background-color: #025724b5;
  border-radius: 10px;
  color: azure;
}

.review-label{
  background-color: #53525290;
  color: gold;
  border-radius: 5px;
  text-shadow: 0 0 5px black;
}

.contactform {
  background-color: #282c3463;
  border-radius: 5px;
  padding: 1rem;
}

.contact-header {
  color:  rgb(6, 194, 182);
  font-family: 'Frijole', cursive;
  text-shadow: 0 0 5px #0d0a0a, 0 0 10px #014f22, 0 0 15px #014f22, 0 0 20px #014f22, 0 0 25px #014f22, 0 0 30px #014f22, 0 0 35px #014f22;
}

.footer-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(36, 238, 137);
}

.list-inline-item {
  display: inline;
  padding-right: .5em;
  margin-left: 0.5em;
  font-size: 25px;
}

.list-inline-item:hover {
  padding: 2px 5px 2px 5px;
  background-color: #2a3129;
  border-radius: 10px;
}

.contact-icons {
  color:  rgb(6, 194, 182);
}

.right {
  color: gold;
  text-align: center;
}
 .wrong {
  color: red;
  text-align: center;
 }